{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}   
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{ user.username }}</h1></div>
    	<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
    </div>
    <div class="row">
  	<div class="col-sm-3"><!--left col-->
              

            <div class="card h-10">
                    <div class="card-body">
                        <h2 class="card-title">Добрый день {{ app.user.username }}!</h2>
                        <p class="card-text">Вы можете оставить заявку на добавление необходимого вам заявления</p>
                        <button type="button" class="btn btn-primary" id="statementRequest" data-toggle="modal" data-target="#exampleModal">Оставить заявку</button>
                    </div>
            </div>   
            <br />
          
            {{ render(controller('App\\Controller\\BaseController::getLastStatement')) }}
        
        </div><!--/col-3-->
    	<div class="col-sm-9">              
          <div class="tab-content">
            <div class="tab-pane active" id="home">                                            
                        {{ form_start(form) }}
                        
                        <div class="form-group">                          
                            <div class="col-xs-6">
                                <label for="first_name"><h4>{{ form_label(form.username) }}</h4></label>
                                {{ form_widget(form.username) }}
                                {{ form_errors(form.username) }}
                            </div>
                        </div>
                            
                        <div class="form-group">                          
                            <div class="col-xs-6">
                                <label for="first_name"><h4>{{ form_label(form.firstname) }}</h4></label>
                                {{ form_widget(form.firstname) }}
                                {{ form_errors(form.firstname) }}
                            </div>
                        </div>
                        
                        <div class="form-group">                          
                            <div class="col-xs-6">
                                <label for="first_name"><h4>{{ form_label(form.secondname) }}</h4></label>
                                {{ form_widget(form.secondname) }}
                                {{ form_errors(form.secondname) }}
                            </div>
                        </div>
                            
                        <div class="form-group">                          
                            <div class="col-xs-6">
                                <label for="first_name"><h4>{{ form_label(form.middlename) }}</h4></label>
                                {{ form_widget(form.middlename) }}
                                {{ form_errors(form.middlename) }}
                            </div>
                        </div>
                            
                        <div class="form-group">                          
                            <div class="col-xs-6">
                                <label for="first_name"><h4>{{ form_label(form.email) }}</h4></label>
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                    
                        {{ form_end(form) }}
              
              <hr>
              
             </div><!--/tab-pane-->
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
    
{% endblock %}