{% extends 'base.html.twig' %}
{% block body %}  
    
    <!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
          <img class="img-fluid rounded" src="http://placehold.it/900x400" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Добрый день {{ app.user.username }}!</h2>
                        <p class="card-text">Вы можете оставить заявку на добавление необходимого вам заявления</p>
                        <button type="button" class="btn btn-primary" id="statementRequest" data-toggle="modal" data-target="#exampleModal">Оставить заявку</button>
                    </div>
                    <!--div class="card-footer">
                        <a href="http://yure/statement/test4" class="btn btn-primary">Оставить заявку</a>
                    </div-->
                </div>                
            {% else %}
                {% block fos_user_content %}
                    {{ render(path('fos_user_registration_register')) }}
                {% endblock fos_user_content %}
            {% endif %}
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
          <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>
        </div>
      </div>
      
      <div class="container">
        <div class="row">            
            {% for item in categories %}
                <div class="col-md-4 mb-4 ">
                    <a href="{{ app.request.uri }}category/{{ item.seopath }}" class="btn btn-primary active" style="width:100%" role="button" aria-pressed="true">{{ item.name }}</a>
                </div>
            {% endfor %}
        </div> 
      </div>
      
      <!-- Content Row -->
      <div class="row">
          {% for item in statements %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">{{ item.name }}</h2>
                        <p class="card-text">{{ item.description }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ app.request.uri }}statement/{{ item.seopath }}" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            {% endfor %}
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->   
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="modal_content" class="modal-body">
          </div>
        </div>
      </div>
    </div>
{% endblock %}