{% extends 'base.html.twig' %}

{% block title %}{{ statement.name }}{% endblock %}

{% block body %}    
    <div class="container">

      <div class="row">

        <div class="col-lg-8">

            <div id="statement_origin" style="display:none;">{{ statement.content }}</div>
            
            <h1 class="mt-4">{{ statement.name }}</h1>

            <hr>

            <p>Обновлено {{ statement.updateDate|localizeddate('none', 'none', app.request.locale, "Europe/Moscow", "d MMMM yyyy', в' hh:mm") }}</p>

            <hr>

            {{ statement.description }}          

            <hr>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <textarea name="editor1" id="editor1" rows="10" cols="80">
                    {{ statement.content|raw }} 
                </textarea> 

                <hr>
            {% else %}
                <img class="img-fluid rounded" src="{{ asset('upload/screenshots/') }}{{ statement.screenshot }}" alt="">

                <hr>
            {% endif %}
            
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="card my-4">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <textarea id="comment_text" class="form-control" rows="3"></textarea>
                            </div>
                            <input type="hidden" id="statement_id" value="{{ statement.id }}" />
                            <button id="comment_submit" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            {% endif %}
            
            {% for comment in statement.statementComments if comment.approved %}            
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">{{ comment.user.username }}</h5>
                        {{ comment.text }}
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="col-md-4">
          <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div id="state_vars_block" class="card-body">
                    {% for var in var_list %}
                        {{ var.tip }}
                        <input type="text" name="{{ var.name }}" class="form-control" value="{{ var.defaultValue }}" placeholder=""><br />
                    {% endfor %}
                    <button id="use_vars" class="btn btn-primary">Применить</button>
                </div>
            </div>

        </div>

      </div>

    </div>
    
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/classes/statementClass.js') }}?{{ date().timestamp }}"></script>
    <script src="{{ asset('js/statement.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

